* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    /* font-family: 'Quicksand', sans-serif; */
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Acumin Pro', sans-serif;
    margin: 0;
    padding: 0;
}

h2, h3 {
    color: #C19A6B
}

main {
    padding: 20px;    
    display: flex;
    gap: 1.5rem;
}

#content{
    flex: 5;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
}

#content p{
    text-align: justify;
}

#profil-singkat, #geografi-kota, #demografi-kota, #tempat-wisata{
    padding: 20px 40px;
}


aside{
    flex: 1;
}

footer{
    padding: 20px;
    color: white;
    background-color: #C19A6B;
    text-align: center;
    font-weight: bold;  
}

.profile header{
    text-align: center;
}

.informasi-lainnya{
    text-align: left;
}

.featured-image{
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    object-position: center;  
    border-radius: 5px;
}

.creator-information-section{
    padding: 0 20px;
}

.profile th{
    text-wrap: nowrap;
    padding: 10px 15px 5px 10px;
    text-align: left;   
}
.profile td{
    text-wrap: wrap;    
    text-align: left;
}

.profile .figure img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.jumbotron{     
    font-size: 20px;
    padding: 60px;
    background-image: url("assets/image/background-image.jpg");
    background-size: cover;   
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    word-spacing: 3px;  
    box-shadow: 0 -5px 15px 0 rgb(0, 0, 0) inset;      
}

nav li {   
    list-style-type: none;
    margin-right: 20px;        
}

nav {    
    background-color: #C19A6B;
    padding: 5px;    
    position: sticky;
    top: 0;
}

nav ul{
    padding-inline: 4rem;
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}


nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    font-weight: bold;    
}

nav a:hover{
    font-weight: bold;
}


header{
    display: inline;
}

.social-media-section{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px 10px 10px 10px;
}

.social-media-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    color: white;
    box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 100%;
}

.social-media-container i{
    color: black;   
}

@media screen and (max-width: 1200px){
    main{
        flex-flow: column nowrap;
    }

    main aside{
        align-self: center;
    }
}

@media screen and (max-width: 768px){
    nav ul{
        justify-content: center;
    }


    main aside{
        align-self: stretch;
    }
}