* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Acumin Pro', sans-serif;
    margin: 0;
    padding: 0;
}

h2, h3 {
    color: #C19A6B
}

main {
    padding: 20px;    
    display: flex;
    gap: 1.5rem;
}

#content{
    flex: 3;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
    position: relative;
}

#content p{
    text-align: justify;
}

#profil-singkat, #geografi-kota, #demografi-kota, #tempat-wisata{
    padding: 20px 40px;
    scroll-margin-top: 80px;
}

iframe{
    max-height: 350px;
    width: 100%;
    border-radius: 5px;
}

.slideshow-container{
    width: 100%;;
    max-height: 350px;
    position: relative;
    margin: auto;
    z-index: 1;
}

.slide{
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
.slide-index{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slide-index div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slide-index p{
    font-style: italic;
    color:#9ca3af;
    padding: 5px 0 0 0;
    margin: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
.dot.active {
    background-color: #717171;
  }

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

aside{
    flex: 1;
    position: relative;
}

footer{
    padding: 20px;
    color: white;
    background-color: #C19A6B;
    text-align: center;
    font-weight: bold;  
}

.profile header{
    text-align: center;
}

.profile.card{
    position: sticky;
    top: 70px;
}

.informasi-lainnya{
    text-align: left;
}

.featured-image{
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    object-position: center;  
    border-radius: 5px;
}

.creator-information-section{
    padding: 0 20px;
}

.profile th{
    text-wrap: nowrap;
    padding: 10px 15px 5px 10px;
    text-align: left;   
}
.profile td{
    text-wrap: wrap;    
    text-align: left;
}

.profile .figure img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
}

.profile .figure figcaption{
    padding: 5px 10px 20px 10px;
}

figure{
    padding: 0;
    margin: 0;
}

.data-figure figcaption{
    text-align: end;
    font-style: italic;
    color:#9ca3af;
    padding: 5px 0 0 0;
    margin: 0;

}

.card{  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.jumbotron{     
    font-size: 20px;
    padding: 60px;
    background-image: url("assets/image/background-image.jpg");
    background-size: cover;   
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    word-spacing: 3px;  
    box-shadow: 0 -5px 15px 0 rgb(0, 0, 0) inset;      
}

nav li {   
    list-style-type: none;
    margin-right: 20px;        
}

nav {    
    background-color: #C19A6B;
    padding: 5px;    
    position: sticky;
    z-index: 9999;
    top: 0;
    overflow: hidden;
    
}

nav ul{
    padding-inline: 4rem;
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}


nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    font-weight: bold;    
}
  
.nav a:hover {
    font-size: 20px; 
  }

header{
    display: inline;
}

.social-media-section{
    display: flex;
    justify-content:  center;
    align-items: center;    
    gap: 5px;
    padding: 20px 10px 5px 10px;
}

.social-media-section a{
    width: 60px;
    height: 60px;
    background-color: #C19A6B;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;

}

.social-media-section:hover a {
    transform: scale(0.85);
    opacity: 0.7;
  }
  
.social-media-section a:hover {
    transform: scale(1.1) translateY(-5px);
    opacity: 1;
    z-index: 1;
  }

.instagram-icon:hover {
    background-image: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);;

}

.facebook-icon:hover {
    background-color: #0e63d1;
}

.github-icon:hover {
    background-color: #242424;
}

.linkedin-icon:hover {
    background-color: #005f90;
}

.whatsapp-icon:hover {
    background-color: #1ebe5b;
}

@media screen and (max-width: 1200px){
    main{
        flex-flow: column nowrap;
    }

    main aside{
        align-self: center;
    }
}

@media screen and (max-width: 768px){
    nav ul{
        justify-content: center;
        text-align: center;
    }

    main aside{
        align-self: stretch;
    }
}

@media (max-width:450px){

    nav ul{
        justify-content: center;
        text-align: center;
        display: inline;
    }

    main aside{
        align-self: stretch;
    }
}